{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<div class="create-class-wrapper">
    <div class="create-class-info">
        <div class="img-center" style="background-image: url({% static 'imgs/empty_states_home.png' %});">
        </div>
        <div class="create-class-btn">
            <a href="{% url 'create_class' %}">
                <div class="create-class">Criar turma</div>
            </a>
            <a href="{% url 'join_class' %}">
                <div class="enter-on-class">Participar da turma</div>
            </a>

        </div>
    </div>
</div>
{%endblock%}